$fg-primary: #ffffff;
$fg-secondary: #cccccc;
$fg-focus: #ff6666;
$fg-disabled: #66666f;
$fg-warning: #cccc00;
$bg-primary: #09090f;
$bg-action: #33333f;
$bg-focus: #66666f;
$bg-disabled: #99999f;
$bg-opaque: rgba(0, 0, 0, 0.75);
$bg-shade: rgba(0, 0, 0, 0.6);
$bg-danger: #ff0000;
