@use '../Theme/border' as b;
@use '../Theme/colors' as colors;
@use '../Theme/transition' as t;
@use '../Typography/sizes' as sizes;

.backdrop-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1080px;
	background-size: cover;
	background-position: center center;
}

.scroller {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: sizes.$row;
	@include t.transition(transform);
}

.inner-wrap {
	position: absolute;
	left: sizes.$row;
	right: sizes.$row;
	bottom: sizes.$row;
	height: 21 * sizes.$row;
	@include b.border;
	border-style: solid;
	border-color: colors.$fg-primary;
	background-color: colors.$bg-shade;
	overflow: hidden;
}
