@use '../Typography/sizes' as sizes;

.poster {
	position: absolute;
	top: sizes.$row;
	right: sizes.$row;
	width: 13 * sizes.$column;
	height: 9 * sizes.$row;
	background-size: cover;
	background-position: center center;
}
